node_modules
.DS_Store
notes.txt
*.blend1

# Audio processing files
public/panoMedia/audio/processing/**/*
!public/panoMedia/audio/processing/youtubeify.sh
!public/panoMedia/audio/processing/dummy.png

# Old or temporary files
public/oldMedia
public/panoMedia/audio/old
public/~WIP
media/CropVidsAndWaves
